<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<ul>
	<% @coments.each do |c| %>
		<li><%= c.comment %></li>
	<% end %>
</ul>
<% if user_signed_in? %>
  <%= form_with(model: @coment, local: true) do |form| %>
    <% if @coment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@coment.errors.count, "error") %> prohibited this coment from being saved:</h2>

        <ul>
          <% @coment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :comment %>
      <%= form.text_area :comment %>
    </div>

    <input type="hidden" name="coment[movie_id]" id="coment_movie_id" value="<%=@movie.id %>">

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>

