<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @coment.comment %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @coment.movie %>
</p>

<%= link_to 'Edit', edit_coment_path(@coment) %> |
<%= link_to 'Back', coments_path %>
